{% extends "encyclopedia/layout.html" %}
    {% block title %}
        {% if topic in entries %}
            {{ topic }}
        {% else %}
            Error 404!
        {% endif %}
    {% endblock %}

    {% block body %}
        {% if topic in entries %}
            {{content|safe}}
            <br><br>
            <a href="/edit/{{topic}}">Edit the wiki for {{topic}}</a>
        {% else %}
            <h1>Error 404: Wiki-page for "{{ topic }}" not found.</h1>
        {% endif %}
    {% endblock %}
